<h2>{{listing.address}} Details</h2>
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td><b>Address:</b></td>
            <td>{{listing.address}}</td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td>{{listing.price}}</td>
        </tr>
        <tr>
            <td><b>BER Rating:</b></td>
            <td>{{listing.ber_rating}}</td>
        </tr>
        <tr>
            <td><b>Property Class:</b></td>
            <td>{{listing.property_class}}</td>
        </tr>
        <tr>
            <td><b>Property Type:</b></td>
            <td>{{listing.property_type}}</td>
        </tr>
        <tr>
            <td><b>Number of bedrooms:</b></td>
            <td>{{listing.no_bedrooms}}</td>
        </tr>
        <tr>
            <td><b>Number of bathrooms:</b></td>
            <td>{{listing.no_bathrooms}}</td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td>{{listing.description}</td>
        </tr>
        <tr>
            <td><b>Features:</b></td>
            <td>{{listing.features}}</td>
        </tr>
        <tr>
            <td><b>Property map:</b></td>
            <td>{{listing.property_map}}</td>
        </tr>
        <tr>
            <td><b>Photos:</b></td>
            <td>{{listing.photos}}</td>
        </tr>
        <tr>
            <td><b>Date added:</b></td>
            <td>{{listing.date_added}}</td>
        </tr>
        <tr>
            <td><b>Contact:</b></td>
            <td>{{listing.contact_name}}<br>{{listing.contact_email}}<br>{{listing.contact_phone}}</td>
        </tr>
    </tbody>
</table>